* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #ff9900, #fc05d3);
}

.card {
  position: relative;
}

.card #card {
  width: 450px;
  height: 350px;
}

#inputs {
  position: absolute;
  left: 60px;
  top: 200px;
}

#text {
  width: 225px;
  padding: 12px;
  border-radius: 10px;
  margin-right: 20px;
  background-color: #fff;
  outline: none;
  border: none;
  transition: 0.5s;
}

#cvv {
  width: 100px;
  padding: 12px;
  background-color: #fff;
  border-radius: 10px;
  outline: none;
  border: none;
  transition: 0.5s;
}

#text:focus,
#cvv:focus {
  background-color: #ffffff0f;
  outline: 1px solid #fff;
  color: #fff;
}

.logos {
  position: absolute;
  top: 50px;
  left: 290px;
}

#logo {
  width: 120px;
  height: 80px;
  position: absolute;
}
